$def with (results, home)
<?xml version="1.0" encoding="UTF-8"?>
<SnomIPPhoneMenu>
<Title>Menu</Title>
$for entry in results:
    <MenuItem>
    $if entry['tipo'] == "amministrazione":
        <Name>Pa. $(entry["description"])</Name>
        <URL>$(home)?dn=$entry["dn"]</URL>

    $elif entry['tipo'] == "ufficio":
        <Name>Uff. $(entry["description"])</Name>
        <URL>$(home)?dn=$entry["dn"]</URL>
    </MenuItem>
<SoftKeyItem>
 <Name>F3</Name>
  <Label>Home</Label>
  <URL>$home</URL>
</SoftKeyItem>
</SnomIPPhoneMenu>
